@import './user-agent.css';
@import './helper.css';
@font-face {
    font-family: 'lato';
    src: url('../Lato/Lato-Regular.ttf');
}

@font-face {
    font-family: 'bolded';
    src: url('../Lato/Lato-Bold.ttf');
}

html, body, #app-root {
    height: 100%;
}

body {
    font-family: lato, sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #FF7322;
}

.firebase-emulator-warning {
    display: none;
}