@import './user-agent.css';
@import './helper.css';

@font-face {
    font-family: 'lato';
    src: url('../Lato/Lato-Regular.ttf');
}

@font-face {
    font-family: 'bolded';
    src: url('../Lato/Lato-Bold.ttf');
}

:root {
    --primary-color: #D00737;
    --primary-light-color: #f7fbfc;
    --primary-dark-color: #7B0421;

    --background-color: #E5E5E5;
    --text-on-background: #333333;

    --text-on-primary: #FFFFFF;
    --text-on-tertiary: var(--text-color);
}


html, body, #app-root {
    height: 100%;
}

body {
    font-family: lato, sans-serif;
    -webkit-font-smoothing: antialiased;
    background: var(--background-color);
    color: var(--text-on-background);
}

.firebase-emulator-warning {
    display: none;
}

.icon {
    width: 24px;
    height: 24px;
}